@model MVCTemplates.ViewModels.Home.HomeIndexViewModel

@{
    ViewBag.Title = "People List";
}

<div class="jumbotron">
    <h1>People List - Display Templates</h1>
</div>

<div class="table table-responsive">
    <table class="table table-bordered table-striped">
        <thead>
        <th>Prénom</th>
        <th>Nom</th>
        <th>Ville</th>
        <th></th>
        <th></th>
        </thead>
        <tbody>
        @Html.DisplayFor(m => m.Persons)
        </tbody>
    </table>
</div>